//- Footer
mj-section(background-color='#1F3C90')
    //- Adresse
    mj-column(width='265px')
        mj-text(padding-top='0' padding-bottom='0' font-size='16px' font-weight='900' color='#FFFFFF' css-class='m-footer1') #[div(class='m-footer') ECOSUP CAMPUS]
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-adress' color='#FFFFFF' css-class='m-footer1') #[div(class='m-footer') 17 Place Charles et Albert Roussel,]
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-adress' css-class='m-footer1') #[div(class='m-footer') 59200 TOURCOING]
        mj-text(padding-top='0' padding-bottom='0'  mj-class='d-adress' css-class='m-footer1') #[div(class='m-footer') 03.20.70.06.06]
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-adress' css-class='m-footer1') #[div(class='m-footer') contact@ecosup-campus.fr]
    //- Réseaux sociaux
    mj-column(width='265px')
        mj-social(padding-top='0' padding-bottom='0' align='right' icon-size='35px' mode='horizontal' css-class='m-footer2')
            mj-social-element(background-color='#20274F' name='facebook' href='https://www.facebook.com/EcosupCamp')
            mj-social-element(background-color='#20274F' name='instagram' href='https://www.instagram.com/ecosup.campus/')
            mj-social-element(background-color='#20274F' name='linkedin' href='https://linkedin.com/company/ecosup-campus')