//- Reglement
mj-section
    mj-column(width='250px')
        mj-text(padding='0 30px' mj-class='d-admin') Cet email a été envoyé à {{contact.EMAIL}}, vous l'avez reçu car vous êtes inscrit à Ecosup Campus.
        mj-text(padding='0 30px' mj-class='d-admin') #[a(href='{{ unsubscribe }}') Se désinscrire]
        mj-spacer(height='20px')/
        mj-text(padding='0 30px' mj-class='d-admin') ©2024 ECOSUP CAMPUS