//- Comment s'y rendre
mj-section(background-color='#dfdfdf')
    mj-column(width='480px')
        mj-text(font-size='18px' font-weight='700' color='#1f3c90' mj-class='d-lieu' text-transform='uppercase') Comment s'y rendre ?
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#1F3C90') Accès Métro :] Ligne 2 - station Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#1F3C90') Accès Tramway :] Terminus Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#1F3C90') Accès Bus :] Gare routière de Tourcoing.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#1F3C90') Accès Train :] Gare de Tourcoing puis station de Métro Tourcoing Centre
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[b(style='color:#1F3C90') Accès Voiture :] Tourcoing centre.
        mj-spacer(height='10px')/