extends templates/_layout
block content    
        //- section reglement
        mj-section(padding='0')
            mj-column
                mj-text(mj-class='d-admin') Si vous ne parvenez pas à lire cet e-mail, cliquez #[a(href='{{ mirror }}') ici]
        //- section affiche
        mj-section(padding='0')
            mj-column(width='600px')
                mj-image(padding='0' href='https://ecosup-tourisme.fr' src='https://i.ibb.co/Jk3j2Jr/JPOTourisme25052024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 25 mai 2024')/
        //- Section Titre
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width='530px')
                mj-text(align='center' padding-bottom='0' mj-class='d-titre') Invitation à la Journée Portes Ouvertes
                mj-text(align='center' padding-top='0' mj-class='d-sous-titre' text-transform='uppercase') Gagnez en compétences avec Ecosup Tourisme !
        //- texte
        mj-section(background-color='#ffffff' padding='0')
            mj-column(width='530px')
                mj-text(padding-top='0' padding-bottom='0' mj-class='d-text') #[strong {{ contact.PRENOM }}], les métiers du Tourisme vous intéressent et vous souhaitez entreprendre une #[strong formation en alternance] ?
                mj-text(padding-top='0' padding-bottom='0' mj-class='d-text') #[strong ECOSUP Tourisme] vous ouvre ses portes ce 
                mj-text(align='center' mj-class='d-date') Samedi 25 mai de 9h30 à 13h.
                mj-text(padding-top='0' padding-bottom='0' mj-class='d-text') Venez découvrir notre campus et rencontrer nos intervenants professionnels.
                mj-text(padding-top='0' padding-bottom='0' mj-class='d-text') Des questions ? Alors rendez-vous ce samedi, toute notre équipe se tiendra à votre disposition pour présenter l'ensemble de nos formations.
        
        